.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.br-15 {
    border-radius: 15px;
}

.br-20 {
    border-radius: 20px;
}

.br-25 {
    border-radius: 25px;
}

.br-30 {
    border-radius: 30px;
}

.br-35 {
    border-radius: 35px;
}

.br-40 {
    border-radius: 40px;
}

.br-45 {
    border-radius: 45px;
}

.br-50 {
    border-radius: 50px;
}

.br-55 {
    border-radius: 55px;
}

.br-60 {
    border-radius: 60px;
}

.br-65 {
    border-radius: 65px;
}

.br-70 {
    border-radius: 70px;
}

.br-75 {
    border-radius: 75px;
}

.br-80 {
    border-radius: 80px;
}

.br-85 {
    border-radius: 85px;
}

.br-90 {
    border-radius: 90px;
}

.br-95 {
    border-radius: 95px;
}

.br-100 {
    border-radius: 100px;
}

.br-circle {
    border-radius: 100%;
}