.size-05 {
    font-size: 0.5em;
}

.size-1 {
    font-size: 1em;
}

.size-15 {
    font-size: 1.5em;
}

.size-2 {
    font-size: 2em;
}

.size-25 {
    font-size: 2.5em;
}

.size-3 {
    font-size: 3em;
}

.size-35 {
    font-size: 3.5em;
}

.size-4 {
    font-size: 4em;
}

.size-45 {
    font-size: 4.5em;
}

.size-5 {
    font-size: 5em;
}