.wp-5 {
    width: 5%;
}

.wp-10 {
    width: 10%;
}

.wp-15 {
    width: 15%;
}

.wp-20 {
    width: 20%;
}

.wp-25 {
    width: 25%;
}

.wp-30 {
    width: 30%;
}

.wp-35 {
    width: 35%;
}

.wp-40 {
    width: 40%;
}

.wp-45 {
    width: 45%;
}

.wp-50 {
    width: 50%;
}

.wp-55 {
    width: 55%;
}

.wp-60 {
    width: 60%;
}

.wp-65 {
    width: 65%;
}

.wp-70 {
    width: 70%;
}

.wp-75 {
    width: 75%;
}

.wp-80 {
    width: 80%;
}

.wp-85 {
    width: 85%;
}

.wp-90 {
    width: 90%;
}

.wp-95 {
    width: 95%;
}

.wp-100 {
    width: 100%;
}

/***__min-w-%__***/
.min-wp-5 {
    min-width: 5%;
}

.min-wp-10 {
    min-width: 10%;
}

.min-wp-15 {
    min-width: 15%;
}

.min-wp-20 {
    min-width: 20%;
}

.min-wp-25 {
    min-width: 25%;
}

.min-wp-30 {
    min-width: 30%;
}

.min-wp-35 {
    min-width: 35%;
}

.min-wp-40 {
    min-width: 40%;
}

.min-wp-45 {
    min-width: 45%;
}

.min-wp-50 {
    min-width: 50%;
}

.min-wp-55 {
    min-width: 55%;
}

.min-wp-60 {
    min-width: 60%;
}

.min-wp-65 {
    min-width: 65%;
}

.min-wp-70 {
    min-width: 70%;
}

.min-wp-75 {
    min-width: 75%;
}

.min-wp-80 {
    min-width: 80%;
}

.min-wp-85 {
    min-width: 85%;
}

.min-wp-90 {
    min-width: 90%;
}

.min-wp-95 {
    min-width: 95%;
}

.min-wp-100 {
    min-width: 100%;
}

/***__max-w-%__***/
.max-wp-5 {
    max-width: 5%;
}

.max-wp-10 {
    max-width: 10%;
}

.max-wp-15 {
    max-width: 15%;
}

.max-wp-20 {
    max-width: 20%;
}

.max-wp-25 {
    max-width: 25%;
}

.max-wp-30 {
    max-width: 30%;
}

.max-wp-35 {
    max-width: 35%;
}

.max-wp-40 {
    max-width: 40%;
}

.max-wp-45 {
    max-width: 45%;
}

.max-wp-50 {
    max-width: 50%;
}

.max-wp-55 {
    max-width: 55%;
}

.max-wp-60 {
    max-width: 60%;
}

.max-wp-65 {
    max-width: 65%;
}

.max-wp-70 {
    max-width: 70%;
}

.max-wp-75 {
    max-width: 75%;
}

.max-wp-80 {
    max-width: 80%;
}

.max-wp-85 {
    max-width: 85%;
}

.max-wp-90 {
    max-width: 90%;
}

.max-wp-95 {
    max-width: 95%;
}

.max-wp-100 {
    max-width: 100%;
}

/***__view-width__***/
.wvw-100 {
    width: 100vw;
}