.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination button {
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: var(--color-dark-blue);
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
    background-color: var(--color-blue);
}

.pagination button.active {
    background-color: var(--color-blue);
}